body{
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_81342104.jpeg?region=0%2C0%2C2048%2C1153");
    /* height: 200vh; */
    /* color: rgba(128, 128, 128, .5); */
    color:darkgray;
    font-weight: 200;
    text-align: center;
}
i:hover{
    color:white;
}
a:hover{
    color:white;
}
a{
    text-decoration: none;
    color:darkgray;
}
.fab{
  /* color: darkgray; */
  margin: 1rem .1rem 0 .6rem;
}

/* HEADER */

.header-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 18.5vh, auto;
}
#header{
    background-image: url("https://static-mh.content.disney.io/starwars/assets/navigation/navigation_stars-c6452e016c73.jpg");
}
.grid-item-1{
    grid-column: 1 / 2;
    font-size: 1.7em;
    /* color: rgba(128, 128, 128, .5); */
}
.grid-item-2{
    grid-column: 2 / 3;
    text-align: center;
    
}
.grid-item-3{
    grid-column: 3 / 4;
    align-content: end;
    text-align: end;
}
#logo{
    height: 75%;
    margin-top: 1rem;
}
.kids{
    margin-top: 1rem;
    border-radius: 9px;
    height: 1rem;
    background-color: gray;
    background-repeat: no-repeat;
    width: 2.6rem;
    display: inline-block;
    background-image: url("https://static-mh.content.disney.io/starwars/assets/shared/icon_kids-dc39fc54f6c2.svg");
    color: white;
    background-position: center;
    background-size: 1.9rem .5rem;
}
.nav-grid{
    /* background-color: gray; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    /* column-gap: 1rem; */
    border: .3px gray solid;
    border-left: none;
    border-right: none;
    /* width: 100%; */
}
.nav-grid > * {
    background-color: black;
    border: 1px rgba(128, 128, 128, .4) solid;
    border-bottom: none;
    text-align: center;
    padding: .75rem;
}
#search{
  height: 100%;
  width: 80%;
  margin-left: 0rem;
  text-align: left;
  background-color: rgb(50, 50, 50);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
#search-icon{
display: inline-block;
width: 10%;

}

#search-div{
height: 2.5em;
  width: 60%;
  background-color: rgb(50, 50, 50);
  margin-top: 1rem;
  border-radius: .3rem;
  margin-right: 0;
  display: inline-block;
}
#fixed{
  position: fixed;
  width: 98%;
  top:0;
  z-index: 1;
}
/* End fixed header */

#streaming-bar {
  margin-top: 21.5vh;
  height: 5vh;
  position: relative;
  background-color: rgb(20, 20, 20);
}
/* CAROUSEL */
#carousel-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  /* counter-reset: item; */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  /* counter-increment: item; */
  
}
#carousel__slide1{
  background-image: url(https://adventurernav.github.io/staticlayout/assets/bartender-resized.jpg);
  background-size: contain;
background-repeat: no-repeat;
}
#carousel__slide2{
  background-image: url(https://adventurernav.github.io/staticlayout/assets/emmy-nom.webp);
  background-size: contain;
background-repeat: no-repeat;
}
#carousel__slide3{
  background-image: url(https://adventurernav.github.io/staticlayout/assets/bad-batch-bg.webp);
  background-size: contain;
background-repeat: no-repeat;
}
#carousel__slide4{
  background-image: url(https://adventurernav.github.io/staticlayout/assets/solo.webp);
  background-size: contain;
background-repeat: no-repeat;
}
/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

.carousel__slide:before {
  /* content: counter(item); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}
/* ARROWS AND NAV */
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
.carousel::before,
.carousel::after a:hover{
  background-color: black;
}
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
/* END CAROUSEL */
#mandopic{
    margin-top: 2rem;
    background-image: url(https://adventurernav.github.io/staticlayout/assets/mando-pic.webp);
    background: linear-gradient(black,transparent)
}




